# Ignore libraries installed using Composer
composer.phar
vendor

# Ignore test logs
logs

# IDE files
.idea
*.iml
nbproject

# Temporary ignore composer.lock, because during Steward 3.0 development all build are run with composer update.
composer.lock
