language: php

php:
  - 5.6

env:
  - BROWSER=phantomjs STEWARD_VERSION=tagged # run tests in PhantomJS against tagged version defined in composer.json
  - BROWSER=phantomjs STEWARD_VERSION=master # run tests in PhantomJS against master branch as an integration test
  - BROWSER=firefox STEWARD_VERSION=tagged # run tests in Firefox against tagged version defined in composer.json
  - BROWSER=firefox STEWARD_VERSION=master # run tests in Firefox against master branch as an integration test

before_install:
  - cd selenium-tests/

install:
  - composer install --no-interaction # Install Steward and its dependencies
  - if [ "$STEWARD_VERSION" = "master" ]; then composer require lmc/steward:dev-master --update-with-dependencies; fi
  - SELENIUM_PATH=$(./vendor/bin/steward install --no-interaction) # Download the Selenium standalone server jar file

before_script:
  - java -jar $SELENIUM_PATH -role hub &
  - sleep 3 # wait until Selenium starts

  # Start two PhantomJS instances
  - if [ "$BROWSER" = "phantomjs" ]; then phantomjs --webdriver-selenium-grid-hub=http://127.0.0.1:4444 --webdriver=8910 & fi
  - if [ "$BROWSER" = "phantomjs" ]; then phantomjs --webdriver-selenium-grid-hub=http://127.0.0.1:4444 --webdriver=8911 & fi

  # Start first Firefox instance
  - if [ "$BROWSER" = "firefox" ]; then Xvfb :99 -nolisten tcp -ac -screen 0 1280x1024x24 & fi
  - if [ "$BROWSER" = "firefox" ]; then export DISPLAY=:99.0; fi
  - if [ "$BROWSER" = "firefox" ]; then java -jar $SELENIUM_PATH -role node -port 8910 -maxSession 1 & fi

  # Start second Firefox instance
  - if [ "$BROWSER" = "firefox" ]; then Xvfb :98 -nolisten tcp -ac -screen 0 1280x1024x24 & fi
  - if [ "$BROWSER" = "firefox" ]; then export DISPLAY=:98.0; fi
  - if [ "$BROWSER" = "firefox" ]; then java -jar $SELENIUM_PATH -role node -port 8911 -maxSession 1 & fi

  - sleep 3 # wait until browsers starts

script:
  - ./vendor/bin/steward run production -vvv $BROWSER # Run the tests in $BROWSER and specify `production` as an environment name
